body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #124c60;
  font-weight: bold;

  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}


.chat{
  background: #6d99a2;

  padding: 5px 10px 5px 10px;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
}

.site{
  text-transform: uppercase;
}

#convInfos{
  margin-top: 22px;
}
