
body{
  font-family: monospace;
  color: #616161;
}


  /*header*/

.header#header{
  flex:1;
  flex: 1;

  display: flex;
  justify-content: space-between;
  background-color: #43A047;
  color: #21242b;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.header#convlogo{
  margin-left: 10px;
}

.header.settings{
  display: flex;
}

.header.settings:nth-child(n){
  margin-left: 10px;
  margin-right: 10px;
}


  /*chat*/

.chat{
  background: #474646;

  padding: 5px 10px 5px 10px;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
}

    /*nav*/
nav{
  flex:1;
  flex: 1;
}

ul{
  list-style: none;
}

div#conversations{
  position: absolute;
  top: 45%;
}

  /*conv*/
.current.container{
  border: solid 1px;
  margin: 5px;
  padding: 10px;
  flex: 4;

  display: flex;
  flex-direction: column;
}

.current#settings{
  flex: 1;
  margin: 5px;

  display: flex;
  justify-content: space-between;
}

.current#messages{
  overflow-y: auto;

  flex: 15;

  display: flex;
  flex-direction: column-reverse;

  width: 100%;
}

.message{
  background-color: #4b4a4a;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.message.mine{
  align-self: flex-end;
  background-color: #66BB6A;
}

.message.not_mine{
  align-self: flex-start;
  color: #84898f;
}

.current#input{
  flex: 2;
  padding-right: 25px;
  padding-bottom: 20px;
}

.current#input textarea{
  height: 100%;
  width: 100%;
  padding: 10px;

  outline: none;
  resize: none;
  overflow-y: auto;
  background-color: transparent;
  caret-color: #84898f;
  color: #84898f;
}

  /*stickers*/
.stickers{
  flex: 1;
}

::-webkit-scrollbar {
    display: none;
}
