
body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #124c60;
  font-weight: bold;

  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}


.chat{
  background: #6d99a2;

  padding: 5px 10px 5px 10px;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
}

.site{
  text-transform: uppercase;
}

#convInfos{
  margin-top: 22px;
}


  /*  sliders  */

div.settings:not(#settings){
  overflow-y: scroll;
}

  .slider {
    margin-bottom: 20px;

    -webkit-appearance: none;
    width: 90%;
    height: 2px;
    border-radius: 5px;
    border: 1px solid #62656c;
    background: #21242b;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #62656c;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #62656c;
    cursor: pointer;
}
