
/*
  * css file for messages
  */

.current.container{
border: solid 1px;
border-color: #ff8788;
margin: 5px;
padding: 10px;
flex: 4;

display: flex;
flex-direction: column;
}

.current#settings{
flex: 1;
margin: 5px;

display: flex;
justify-content: space-between;
}

.current#messages{
overflow-y: auto;

flex: 15;

display: flex;
flex-direction: column;

width: 100%;

margin-bottom: 10px;
}

.message{
background-color: #4b4a4a;
padding: 5px 10px 5px 10px;
border-radius: 10px;
}

.message.mine{
align-self: flex-end;
background-color: #66BB6A;
color: #474646;
}

.message.not_mine{
align-self: flex-start;
color: #84898f;
}

.current#input{
flex: 2;
padding-right: 25px;
padding-bottom: 20px;
}

.current#input textarea{
height: 100%;
width: 100%;
padding: 10px;
overflow: auto;

outline: none;
resize: none;
overflow-y: auto;
background-color: transparent;
border-color: #ff8788;

caret-color: #124c60;
color: #124c60;
}

span{
  font-size: 10px;
  margin-bottom: -10px;
}

strong{
  font-size: 15px;
  margin-right: 20px;
}



div.chatEvent{
  color: #282c2f;
  font-size: 100%;
  font-style: italic;
  margin-left: 50px;

  border-radius: 50%
}
