/*
 * css for the border navs
 */


    /*left*/
  nav{
  flex:1;

  padding-top: 20px;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  }


  /*entrants*/
  #entrantsList{
    flex: 1;
    overflow-y: auto;
  }


  /*rooms*/

  #roomsList{
    flex: 1;
    overflow-y: auto;
  }


  .room{
    display: flex;
    justify-content: space-between;

    -webkit-transition: margin 250ms;
    -moz-transition: margin 250ms;
    -o-transition: margin 250ms;
    -ms-transition: margin 250ms;
    transition: margin 250ms;
    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    -o-transition: background-color 250ms;
    -ms-transition: background-color 250ms;
    transition: background-color 250ms;

    padding: 0 10px 0 10px;

    border-radius: 3px;
    margin: 2px;

  }
  .room:hover{
    margin-left: 20px;
    background-color: #60be92;
  }
  .room strong{
    align-content: flex-start;
    margin: 20px 0 20px 0;
  }
  .room span{
    align-content: flex-end;
    padding-top: 20px;
  }


  .entrant{
    display: flex;
    justify-content: space-between;

    -webkit-transition: margin 250ms;
    -moz-transition: margin 250ms;
    -o-transition: margin 250ms;
    -ms-transition: margin 250ms;
    transition: margin 250ms;
    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    -o-transition: background-color 250ms;
    -ms-transition: background-color 250ms;
    transition: background-color 250ms;

    padding: 0 10px 0 10px;

    border-radius: 2px;
    margin: 2px;
  }
  .entrant:hover{
    margin-left: 20px;
    background-color: #575555;
  }


  /*  sliders  */

div.settings:not(.header){
  overflow-y: scroll;
}

  .slider {
    margin-bottom: 20px;

    -webkit-appearance: none;
    width: 90%;
    height: 2px;
    border-radius: 5px;
    border: 1px solid #62656c;
    background: #21242b;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #62656c;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #62656c;
    cursor: pointer;
}

button#reinitColors{
  background-color: #ff8788;
  color: #124c60;
  border-radius: 5px;
}


::-webkit-scrollbar {
display: none;
}
